<!DOCTYPE html>
<html>
  <head>
    <title>HogeProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!-- ↓追記 -->
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
  </body>
</html>

